@font-face {
  font-family: "DMSans";
  src: url("./assets/DMSans-Regular.ttf");
  font-style: normal;
  font-weight: 200;
}
:root {
  --primary-color: rgb(35, 35, 39);
  --secondary-color: rgb(244, 53, 149);
  --third-color: rgb(0, 0, 0);
  --fourth-color: rgb(239, 164, 201);
  --opacity-color: rgba(212, 164, 188, 0.599);
}
* {
  box-sizing: border-box;
}
body {
  font-family: "DMSans", sans-serif;
  color: var(--fourth-color);
  background-color: var(--primary-color);
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 80px);
  max-width: 100vw;
  margin: 0;
  position: relative;
  top: 80px;
}
header,
footer {
  display: grid;
  background-color: var(--third-color);
  height: 80px;
  align-items: center;
  justify-content: center;
  width: 100%;
}
header {
  grid-template-columns: 1fr 4fr 1fr;
  border-bottom: 2px solid var(--secondary-color);
  position: fixed;
  top: 0;
}
#content-container {
  min-height: calc(100vh - 160px);
  display: flex;
}
header > i {
  font-size: 2.5rem;
}
#nav-bars {
  cursor: pointer;
  width: min-content;
  padding: 5px 15px;
}
#nav-bars:hover {
  color: var(--fourth-color);
}
#add-task {
  padding: 5px 15px;
  justify-self: end;
  cursor: pointer;
}
#add-task:hover {
  color: var(--fourth-color);
}
nav {
  width: 20%;
  padding: 8px;
  border-right: 1px solid var(--third-color);
}
.default-nav-items:not(:last-child),
.project-list-item {
  cursor: pointer;
  transition: 0.3s;
  padding: 3px;
  border-radius: 5px;
  border-bottom: 2px solid transparent;
  color: var(--fourth-color);
}
.default-nav-items:hover:not(:last-child),
.project-list-item:hover {
  border-bottom: 2px solid var(--secondary-color);
  background-color: var(--opacity-color);
  color: var(--third-color);
}
.fa-solid {
  color: var(--secondary-color);
}
#project-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#projects-list {
  padding-top: 0;
}
#add-project-icon {
  padding: 5px;
  border: 2px solid transparent;
  border-radius: 50%;
}
.project-item {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.edit-project-icon,
.delete-project-icon {
  color: var(--secondary-color);
  font-size: 0.7rem;
}
.edit-project-icon:hover,
.delete-project-icon:hover {
  color: var(--fourth-color);
  cursor: pointer;
}

#add-project-icon:hover {
  cursor: pointer;
  border: 2px solid var(--secondary-color);
  background-color: var(--third-color);
}
#title {
  text-align: center;
  color: var(--fourth-color);
}
#gh-link {
  color: var(--secondary-color);
  text-decoration: none;
  font-weight: 800;
}
#gh-link:hover {
  color: var(--fourth-color);
}
#content {
  width: 100%;
  padding: 15px 70px;
}
.hidden {
  display: none;
}
.card {
  display: grid;
  grid-template-columns: min-content 1fr;
  gap: 20px;
  margin-top: 20px;
  background-color: var(--opacity-color);
  padding: 6px;
  border-radius: 5px;
  color: white;
}
.task-title {
  margin: 0;
}
.checkbox {
  width: 20px;
  height: 20px;
  align-self: center;
  accent-color: var(--secondary-color);
  cursor: pointer;
}
.card-right-side {
  display: grid;
  word-wrap: break-word;
}
.card-header,
.card-body {
  display: grid;
  grid-template-columns: max-content 1fr;
  align-items: center;
}
.card-body {
  font-size: 0.8rem;
}
.header-icons,
.due-date {
  justify-self: end;
  padding: 5px;
  display: flex;
  gap: 10px;
}
.header-icons > i {
  color: white;
  cursor: pointer;
  font-size: 1.2rem;
}
.header-icons > i:hover {
  color: var(--secondary-color);
}
#project-dialog-div {
  display: grid;
  gap: 15px;
}
#close-project-modal {
  justify-self: end;
  cursor: pointer;
}
#close-project-modal:hover {
  color: red;
}
#task-modal,
#project-dialog {
  padding: 15px;
  background-color: var(--fourth-color);
  border: none;
  border-radius: 10px;
  box-shadow: 2px 2px 5px var(--secondary-color);
  animation: fade-in 0.5s forwards;
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
#close-modal {
  font-size: 1.5rem;
  cursor: pointer;
}
#close-modal:hover {
  color: red;
}
#modal-top {
  display: grid;
  grid-template-columns: 1fr min-content;
}
#modal-top > i {
  justify-self: end;
}
#task-title-div,
#task-description-div,
#due-date-div,
#priority-div,
#project-select-div {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
#select-divs {
  width: 100%;
  display: flex;
  justify-content: space-around;
  gap: 5px;
  margin-bottom: 5px;
}
#task-title-input,
#task-description-textarea,
#due-date-input,
#priority-input,
#projects-select-input {
  border-radius: 10px;
  padding: 10px;
}
#priority-input,
#projects-select-input {
  width: 150px;
}
#add-btn {
  text-align: center;
  margin: 0 auto;
}
#add-btn:active {
  background-color: var(--opacity-color);
}
.doneTask {
  text-decoration: line-through;
}
